<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h5>Hi, <%= data.name %></h5>
<p>You are receiving this email because we received a password reset request for your account.</p>

<p>Click <a href="http://localhost:5000/api/reset-password?token=<%= data.token %>&email=<%= data.email %>">here</a> to reset your password.</p>

<p>
    This password reset link will expire in 60 minutes.
</p>
<p>
    If you did not request a password reset, no further action is required.
</p>

</body>
</html>
